<h1> How to search courses </h1>
<h4>Please enter a valid course name </h4>
<p> The letters should be lowercase followed by numbers </br> For example: ece361<p>

<h1> @course is <%= @course %></h1>
<h1> @a is <%= @a %></h1>
<h1> @b is <%= @b %></h1>
<h1> @c is <%= @c %></h1>
<h1>@path is <%= @path%></h1>
