<h1>Listing eces</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Course code</th>
    <th>Area</th>
    <th>Prerequisites</th>
    <th>Lecturehours</th>
    <th>Labhours</th>
    <th>Tutorialhours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eces.each do |ece| %>
  <tr>
    <td><%= ece.name %></td>
    <td><%= ece.description %></td>
    <td><%= ece.course_code %></td>
    <td><%= ece.Area %></td>
    <td><%= ece.Prerequisites %></td>
    <td><%= ece.Lecturehours %></td>
    <td><%= ece.Labhours %></td>
    <td><%= ece.Tutorialhours %></td>
    <td><%= link_to 'Show', ece %></td>
    <td><%= link_to 'Edit', edit_ece_path(ece) %></td>
    <td><%= link_to 'Destroy', ece, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ece', new_ece_path %>
