<h1><%= "#{@c.courseCode} #{@c.session} #{@c.title}" %></h1>

<table>
	<tr>
		<th>Course Title :</th>
		<th><%=  "#{@c.courseCode} #{@c.session} #{@c.title}" %></th>   
	</tr>
		
	<% if @areaName %>
		<tr> 
			<th>Area(s): </th>
			<% if @c.area > 7 %>
				<th> <table> 
					<% for r in 0..-1 + @c.area.to_s.size %>						
						<tr><th> 
							<%= areaNames[Integer(@c.area.to_s.scan(/./)[r])] %>
						</th></tr>
					<%end%> 
				</table> </th> 
			<% else %>
				<th> <%= areaNames[1 + @c.area] %> </th>
			<% end %>
		</tr>
	<%end%>
	
	<tr> 
		<th>Prerequisites :</th>   
		<th><%= @c.prerequisites %></th>
	</tr>
		
	<tr> 
		<th>Co-requisites :</th>  
		<th><%= @c.corequisites %></th>
	</tr>	
	
	<tr>
		<th> Hours : </th>
		<th> 
			<table>
				<tr>
					<th> Lecture Hours </th>
					<th> Lab Hours </th>
					<th> Tutorial Hours </th>
				</tr>
				<tr>
					<th> <%= @c.lectureHours %></th>
					<th> <%= @c.labHours %></th>
					<th> <%= @c.tutorialHours %></th>
				</tr>
			</table>
		</th>	
	</tr> 
	
	<tr>
		<th width = 100> Description : </th>
		<th> <%= @c.description %> </th>
	</tr>
</table>
